
 
 body {
    margin: 0 auto;
 	padding: 0;

	font-family: 'Roboto medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
	background-repeat: repeat;

	max-width: 1200px;
   }

.exile a:hover,
.exile a:focus {
	color: #ffbc9e;
	border: none;
	text-decoration: underline;  
}

.visually-hidden:not(focus):not(active){
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);	
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: block;

	color: #fff; 

	padding: 13px 20px;
    
    border: none;
    border-radius: 50px;
    
	text-shadow: 0 2px 5px #a0200b;
	
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    opacity: 0.99;

}

.button:hover,
.button:focus{

	background-image: linear-gradient(to top, #f28166, #f28166);
    box-shadow: 0 1px 2px 0 rgba(172, 16, 0, .64);
  
}


a {
	text-decoration: none;
}

/*												HEADER*/

.user-navigation-conteiner {
	flex-direction: column;
	align-items: center; 

	padding-top: 23px;
}

.navigation{
	font-size: 16px;
    line-height: 18px;
    color: #fff;	

    position: absolute;
	
	margin: 0 27px 0 27px;
	padding: 0;


	display: flex;
	width: 100%;
    	 
}

.navigation div {
	
	width: 100%;
	display: none;
	/*justify-content: space-between;*/
	
}

.navigation a {
	padding-top: 10px;
}

.site-navigation ,
.user-navigation {
	list-style: none;

	font-size: 15px;
	margin: 0;
	padding: 0;	
}

.site-navigation-list b {
	display: block;
	padding: 6px 12px;
}

.navigation-conteiner {
	padding-top: 29px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;

	max-width: 390px;
	width: 100%;

	margin-left: 24px;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 293px;
    margin-left: auto;
}

.user-navigation li {
	margin: 0 0 0 10px;
}

.catalog:before {
	content: "";

    position: absolute;

    width: 60px;
    height: 2px;

    background-color: rgba(255, 255, 255, .5);

    top: 30px;
    left: 14px;
}

.delivery {
	position: relative;
}

.delivery:before {
	content: "";

    position: absolute;

    width: 140px;
    height: 2px;

    background-color: rgba(255, 255, 255, .5);

    top: 30px;
    left: 14px;
}

.navigation-about-us {
	position: relative;
}

.navigation-about-us:before {
	content: "";

    position: absolute;

    width: 90px;
    height: 2px;

    background-color: rgba(255, 255, 255, .5);

    top: 30px;
    left: 14px;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 2px;
	color: #fff;
	/*height: 32px;*/	
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #000;
	border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.site-navigation a:active,
.site-navigation a:checked, /*Не работает*/
.user-navigation a:active,
.user-navigation a:checked { /*Не работает*/
	color: #000;
	border-radius: 50px;
    background-color: #d07058;
    text-decoration: none;
}


.user-button{
	border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);

}

.search {
 	width: 32px;
 	height: 32px;
 	text-align: center;
}
.search svg {
padding: 7.5px;
}

.shoping-bag-list {
	height: 32px;
	width: 117px;
}

.shoping-bag-list a {
	display: block;
    box-sizing: border-box;
    position: relative;
    padding: 8.5px 15px 8.5px 45px;
}
.login-link svg,
.shoping-bag svg {
	
	position: absolute;
	
	left: 15px;
    top: 7px;
}
.user-button:hover polygon,
.user-button:focus polygon,
.user-button:hover circle,
.user-button:focus circle,
.user-button:hover path,
.user-button:focus path{
	fill: #000;
}


.user-button:hover,
.user-button:focus {
    background-color: rgba(255, 255, 255, .74);
}

.login-link-list {
	height: 32px;
	width: 92px;
}
.login-link-list  a{
	display: block;
    box-sizing: border-box;
    position: relative;
    padding: 8.5px 15px 8.5px 45px;
}

.header-contacts{
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;

	margin-left: auto;
    padding: 0;
    text-align: right;
}

.header-contacts a{
	text-decoration: none;
	color: #fff;
	font-size: 22px;
}

/*													ЗАСТАВКА */

.background-picture {
	
	/* background: rgba(225, 245, 55, 0.4);
	box-shadow: 0 0 0 3px rgb(234, 45, 82); */
}

.background-picture-list img{
	width: 90%;

	display: block;
    margin-left: auto;
    margin-right: auto;
}


.background-item {
	list-style: none;
	margin: 0;
	padding: 0;

	/*background: rgba(235, 225, 52, 0.2);
	box-shadow: 0 0 0 3px rgb(234, 45, 82);*/
}
.background-picture-list {

	/* margin: 0 27px; */
	background: rgba(225, 245, 55, 0.4);
	box-shadow: 0 0 0 3px rgb(234, 45, 82);
}

.background-picture-list a{
	text-decoration: none;

	margin: 0;
	padding: 0;

	line-height: 65px;

	text-align: center;
}



.promo-description-wrapper {
    position: relative;
    top: -488px;
    display: flex;
    flex-direction: column;
	align-items: center;

}


.promo-description-wrapper p {
    font-size: 58px;
    font-weight: 700;
    line-height: 60.35px;
    text-align: center;

    max-width: 700px;

    margin: 0;
    padding: 0;
    margin-bottom: 30px;  
}

.main-button {
	width: 284px;
	height: 66px;

	font-size: 32px;
    line-height: 44px;

    font-weight: 600;
}

.swipe {

	width: 80px;
	height: 22px;
	
	top: 585px;
    left: 145px;

    position: absolute;
}

.swipe-list {
	list-style: none;

	display: flex;
	justify-content: space-between;

	padding: 0;
	margin: 0;
}

.swipe-options {
	position: relative;
	cursor: pointer;
}

.swipe-options input[type="radio"] {
	width: 20px;
	height: 20px;
}

/*.swipe-list input[type="radio"]:nth-child(1) + .radio-indicator:before {
    content: "";

    display: block;

    position: absolute;

    width: 20px;
    height: 20px;
	
    border-radius: 50%;
    background: #fff;
}*/

.swipe-options input[type="radio"] + .radio-indicator {

	position: absolute;

	border: 3px solid #fff;
	border-radius: 50%;
		
	width: 20px;
	height: 20px;

	margin: 0;
	padding: 0;
	
	top: 0;
	left: 0;		 	
}

.swipe-options input[type="radio"]:checked  + .radio-indicator:before{
    content: "";

    display: block;

    position: absolute;

    width: 24px;
    height: 24px;
	
	top: -1px;
    left: -2px;

    border-radius: 50%;
    background: #fff;
}

.swipe-options input[type="radio"]:hover  + .radio-indicator:before{
    content: "";

    display: block;

    position: absolute;

    width: 24px;
    height: 24px;
	
	top: -1px;
    left: -2px;

    border-radius: 50%;
    background: #ffffff45;
}

/*													ПЕРВЫЙ БЛОК */

.sale{
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin: 0 27px;
	margin-bottom: 35px;
	margin-top: -455px;
}

.sale-rospberry{
	list-style: none;

	border-radius: 30px;

	position: relative;

	max-width: 560px;
	width: 100%;

	background-image: url(../images/raspberry.jpg);
	background-size: cover;
	background-position: center;
	 
	margin-bottom: 20px;
}

.sale-rospberry h3{
	font-size: 35px;
    line-height: 41px;

    padding: 20px 0 0 20px;

    margin: 0;
}

.sale-rospberry p{

    padding: 20px 0 0 20px;
    margin: 0 0 40px 0;
}

.sale-rospberry .button {
	width: 165px;

	margin: 0 22px 22px auto;
	
	text-align: center;
}


.sale-chocolate{
	list-style: none;
	
	border-radius: 30px;

	max-width: 560px;
	width: 100%;

	background-image: url(../images/chocolate.jpg);
	background-size: cover;
 	background-position: center;
}

.sale-chocolate h3{
	font-size: 35px;
    line-height: 41px;

    padding: 20px 0 0 20px;

    margin: 0;
}

.sale-chocolate p{

    padding: 20px 0 0 20px;
    margin: 0 0 40px 0;
}

.sale-chocolate .button {
	width: 189px;

	margin: 0 22px 22px auto;
	
	text-align: center;
}


/*													ХИТ ПРОДАЖ */
.best-product{
    margin: 0 27px;
}

.best-product-info p{
	font-size: 45px;
    line-height: 45px;
	font-weight: bold; 

	margin: 0;
    padding: 0;

    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.best-product-info span{
	 font-size: 35px;
    line-height: 45px;
	font-weight: bold;
}

.best-product-info a{
	display: inline-block;
	text-align: center;

	color: #fff;

	text-decoration: none;

	/*border-bottom: 1px solid rgba(255, 255, 255, .5); */	

	font-size: 16px;
    line-height: 22px;

    font-weight: 400;
}

.best-product-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
}



.best-product-list {
	list-style: none;

	width: 267px;
	min-height: 335px;
	
	position: relative;

	margin-right: auto;
    margin-left: auto;
}	

.best-product-list:before {
	content: "";

	position: absolute;

	background-image: url(../images/hit.svg);
 	background-repeat: no-repeat;
 	background-position: center;

 	width: 62px;
 	height: 62px;
}

.best-product-list img {
	border-radius: 50%;
}

.best-product-info {
	position: absolute;

	top: 220px;
	bottom: auto;
}

/*													ПРО МАГАЗИН */
.about-us h3{
	font-family: 'Roboto medium', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
		
    padding: 23px 0 0 0;
    margin: 22px;
}

.about-us {
	border-radius: 30px;
	
	margin: 0 27px;
	margin-bottom: 35px;

	color: #323232;
	
	background-image: url(../images/waffleFon.jpg);
	background-repeat: repeat;
}

.about-us-item {
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	margin: 0;
    padding-left: 20px;
}

.about-us-list {
	max-width: 478px;
	margin: 0 32px 20px 0;

	font-size: 10px;
    font-weight: 400;
	line-height: 22px;

	padding-left: 56px;

	position: relative;
}

.about-us-item li:nth-child(2n) {
	margin-right: 0;
}

.about-us-item li:nth-child(1):before{
	content: "";

	position: absolute;

	background-image: url(../images/icecream-small.svg);
	background-repeat: no-repeat;
 	background-position: center;

 	width: 50px;
 	height: 50px;

	top: -15px;
    left: 0px;
}

.about-us-item li:nth-child(2):before{
	content: "";

	position: absolute;

	background-image: url(../images/cow.svg);
	background-repeat: no-repeat;
 	background-position: center;

 	width: 50px;
 	height: 50px;

	top: -15px;
    left: 0px;
}

.about-us-item li:nth-child(3):before{
	content: "";

	position: absolute;

	background-image: url(../images/sheet.svg);
	background-repeat: no-repeat;
 	background-position: center;

 	width: 50px;
 	height: 50px;

	top: -15px;
    left: 0px;
}

.about-us-item li:nth-child(4):before{
	content: "";

	position: absolute;

	background-image: url(../images/thermomiter.svg);
	background-repeat: no-repeat;
 	background-position: center;

 	width: 50px;
 	height: 50px;

	top: -15px;
    left: 0px;
}

.best-product-list-hidden{
    position: absolute;
	
	display: none;

	width: 295px;
	height: 405px;

	top: -6px;

    border-radius: 5px;
    background-color: rgba(248, 247, 244, .2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .08);
}

.best-product-list-hidden a{
	text-decoration: none;
}

.hidden-button {
	position: absolute;
	
	bottom: 20px;
	left: 45px;
}


/*													ПОСЛЕДНИЙ БЛОК */

.social{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin: 0 27px;
	margin-bottom: 35px;

	border-radius: 30px;
}

.social-blog{
	border-radius: 30px;

	color: #000;

	max-width: 560px;
	width: 100%;

	background-image: url(../images/strowberry.jpg);
	background-size: cover;
 	background-position: center;
}

.social-blog p{
	max-width: 282px;
	height: 175px;

	font-size: 16px;
    line-height: 22px;

    padding: 25px 0 0 20px;
}
.social-blog a{
	font-size: 24px;
    line-height: 30px;

    color: #000;
    
}

.sending-form {
	border-radius: 30px;

	max-width: 560px;
	width: 100%;


	background-image: url(../images/post-fon.svg);
	background-size: cover;
 	background-position: center;
}

.sending-form-in {
	padding: 0;	
	margin: 12px;

	border-radius: 30px;

	background-color: #f8f7f4;

	max-width: 550px;
	
	color: #000;

	box-sizing: border-box;
}

.sending-form-in p{
	padding: 30px 20px 37px 20px;
	margin: 0;

	font-size: 16px;
    line-height: 22px;
}
.action-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 509px;
}

.mail {
	height: 43px;
	width: 100%;

	margin: 0 20px 10px 20px;
	padding-left: 15px;

	border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
}
.action-form .button {
	margin: 10px auto;
}


/*														КОНТАКТЫ*/
.contacts {
	width: 100%;
	max-width: 1200px;
	height: 430px;

	position: relative;

	background-image: url(../images/map.jpg);
	background-size: cover;
 	background-position: center;


}

.contacts-conteiner {
	border-radius: 30px;

	position: absolute;

	background-color: #fefefe;

	color: #000;

	width: 302px;
	height: 305px;

	bottom: 62px;
    right: 26px;
}

.contacts-conteiner a {
	margin: 0 25px;

	text-decoration: none;
}

.contacts-conteiner p{

	font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    padding: 30px 25px 25px 25px;
}

.contacts-conteiner span{
	font-size: 18px;
    line-height: 24px;

    font-weight: 800;
}

/*															ФУТЕР*/

.footer{
	display: flex;
	justify-content: space-between;
}

.footer-social-item {

	display: flex;
	justify-content: space-between;

	padding: 0;
	margin-left: 28px;

	width: 179px;
	height: 40px;
}

.footer-social-list {
	list-style: none;

	width: 32px;
    height: 32px;
    border: 4px solid rgba(255, 255, 255, .5);
    border-radius: 50%;

    opacity: 30%;
}

.footer-social-list a{
	    opacity: .8;
}

.footer-social-list a:hover,
.footer-social-list a:focus{
	    opacity: 1;
}

.footer-social-document {
	max-width: 330px;
}

.footer-social-document-item a{
	text-decoration: none;

	font-size: 13px;
    line-height: 18px;

    border-bottom: 1px solid rgba(255, 255, 255, .5);

	color: #fff;
}

.footer-social-document-item.footer-social-document-item li{
	width: 164px;

	position: relative;
}

.footer-social-document-item li:nth-child(1){
	padding-left: 22px;
	width: 142px;
}
.footer-social-document-item li:nth-child(3){
	padding-left: 22px;
	width: 142px;
}

.footer-social-document-item li:nth-child(1):before{
	content: "";
	
	position: absolute;

	background-image: url(../images/hart.svg);
	background-repeat: no-repeat;
 	background-position: center;

	width: 15px;
	height: 15px;

	left: 0;
    top: 4px;
}

.footer-social-document-item {
	list-style: none;

	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-htmlacademy p{
	font-size: 12px;
    line-height: 18px;

	margin: 0;
   	padding: 60px 0 0 0 ;
}

.htmlacademy a{
	color: #fff;
}

.footer-htmlacademy {
	position: relative;

	width: 191px;
	height: 62px;

	margin-right: 28px;
}

.footer-htmlacademy p:before{
	content: "";

	position: absolute;

	background-image: url(../images/logo-htmlacademy-small.svg);
	background-repeat: no-repeat;

	width: 150px;
	height: 40px;

	top: 18px;	
}

							/*МОДАЛКА*/	
	


							/*Каталог*/
.catalog {
	position: relative;
}

.modal-catalog-list {
	position: absolute;		

	top: 45px;
    left: -7px;

    display: none;

	list-style: none;
	padding: 0;
	margin: 0;

	width: 150px;
	height: 171px;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}


.modal-catalog .modal-catalog-item a{
    margin: 0;
    color: #000;
    border: none;
}

.catalog-new a {
	padding: 10px 0 10px 21px;
	height: auto;
}

.catalog-new b {
	padding: 0;
}


.catalog-new:before {
	content: "";

	position: absolute;

	width: 130px;
	height: 2px;

	top: 36px;
    left: 10px;

	background-color: #00000014;
}

.catalog-alse a{
	padding: 7px 0 8px 21px;
    height: auto;
}

.modal-catalog-item a:hover { /*срезать углы рамки*/
    background-color: #fbded7;
    border-radius: 0;
}

.modal-catalog-item a:focus {
	background-color: #f6b5a5;
	border-radius: 0;
}


							/*ПОИСК*/
.shoping-search {
	position: relative;
}

.search-conteiner {
	position: absolute;	

	padding: 0;
	margin: 0;

	display: none;

	width: 341px;
	height: 84px;

	top: 45px;
	right: 0;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}

.input-search {
	width: 310px;
	height: 44px; 

	margin: 20px 16px;
	padding-left: 15px;

	border-radius: 10px;

	border: 1px solid #00000014;
}

							/*ЛИИЧНЫЙ КАБИНЕТ*/
.login-link-list {
	position: relative;
}

.action-privat {
	position: absolute;	

	padding: 0;
	margin: 0;

	display: none;

	top: 45px;
	right: 0;

	width: 278px;
	height: 214px;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}

.action-input {
	display: flex;
	flex-direction: column;

}

.action-input input {
	width: 227px;
	height: 44px;

	margin:20px 17px 0 19px;
	padding: 0 0 0 14px;

	border-radius: 10px;

	border: 1px solid #00000014;
}

.submit-functions {
	display: flex;
}

.apointment-submit {
	margin: 2px 20px 0 19px;
}

.action-registr a{
	color: #000;
	display: block;
	margin: 0;
	padding: 0;

	font-size: 13px;
    line-height: 24px;

	text-decoration: underline;
	text-underline-position: under;	
}

.action-registr a:hover,
.action-registr a:focus {
	color: #e84d37;
	background-color: transparent;  
	text-decoration: underline;
}
							/*КАРЗИНА*/

.shoping-bag-list {
	position: relative;
}

.shoping-bag-modal {
	position: absolute;	

	padding: 0;
	margin: 0;

	top: 45px;
	right: 0;

	width: 539px;
	height: 232px;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}

.shoping-modal-list {
	text-decoration: none;
}

.shoping-modal-list p {
	color: #000;
}

.shoping-bag-list fieldset{
	border: none;

	padding: 0;
	margin: 0;	
}















.modal-show {
	display: block;
}	

	/*наведение и фокус на слайдер?*/
	/*Нахождение на ссылке (цвет)*/





								/* АДАПТИВ  */


/* для ширины экрана от 320px */
@media (min-width: 320px){
    /* .navigation  {
        display: none;
        width: 1146px;	
	} */

	
}

/* для ширины экрана от 680px */
@media (min-width: 680px){

	.about-us h3{	
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}

	.about-us-list {
		font-size: 16px;
	}
}

/* для ширины экрана от 1174ppx */
@media (min-width: 1174px){
    .navigation  {
		width: 1146px;
	}
	.navigation div{
		display: flex;
	}

	.sale-rospberry{ 
		margin-bottom: 0;
	}

	.best-product-list {	
		margin-right: 26px;
	}	
	.best-product-list:nth-child(4n){
		margin-right: 0;
	}

	.about-us h3{	
		font-size: 24px;
	}

	.sending-form-in {
		height: 210px;
	}

	.action-form {
		flex-wrap: nowrap;
		height: 45px;	
	}

	.mail {
		margin: 0 10px 0 20px;
		max-width: 349px; 
	}

	.action-form .button {
		height: 46px;
	}

	.action-form .button {
		margin: 0;
	}
	
}