 body {
    margin: 0 auto;
 	padding: 0;

	font-family: 'Roboto medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
	background-repeat: repeat;

	max-width: 1200px;
   }

.exile a:hover,
.exile a:focus {
	color: #ffbc9e;
	border: none;
	text-decoration: underline;  
}

.visually-hidden:not(focus):not(active){
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);	
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: block;

	color: #fff; 

	padding: 13px 20px;
    
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0 1px 2px 0 rgba(172, 16, 0, .64);

	text-shadow: 0 2px 5px #a0200b;
}

.button:hover,
.button:focus{

	background-image: linear-gradient(to top, #f28166, #f28166);
    box-shadow: 0 1px 2px 0 rgba(172, 16, 0, .64);
  
}


a {
	text-decoration: none;
}

/*												HEADER*/

.user-navigation-conteiner {
	flex-direction: column;
	align-items: center; 

	padding-top: 23px;
}

.navigation{
	font-size: 16px;
    line-height: 18px;
    color: #fff;	

  
	
	margin: 0 27px 0 27px;
	padding: 0;

	display: flex;
	width: 100%;
    max-width: 1146px;	 
}

.navigation div {
	
	width: 100%;
	display: flex;
}

.navigation a {
	padding-top: 10px;
}

.site-navigation ,
.user-navigation {
	list-style: none;

	font-size: 15px;
	margin: 0;
	padding: 0;	
}

.site-navigation-list b {
	display: block;
	padding: 6px 12px;
}

.navigation-conteiner {
	padding-top: 29px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;

	max-width: 390px;
	width: 100%;

	margin-left: 24px;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 293px;
    margin-left: auto;
}

.user-navigation li {
	margin: 0 0 0 10px;
}

.catalog:before {
	content: "";

    position: absolute;

    width: 60px;
    height: 2px;

    background-color: rgba(255, 255, 255, .5);

    top: 30px;
    left: 14px;
}

.delivery {
	position: relative;
}

.delivery:before {
	content: "";

    position: absolute;

    width: 140px;
    height: 2px;

    background-color: rgba(255, 255, 255, .5);

    top: 30px;
    left: 14px;
}

.navigation-about-us {
	position: relative;
}

.navigation-about-us:before {
	content: "";

    position: absolute;

    width: 90px;
    height: 2px;

    background-color: rgba(255, 255, 255, .5);

    top: 30px;
    left: 14px;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 2px;
	color: #fff;
	/*height: 32px;*/	
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #000;
	border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.site-navigation a:active,
.site-navigation a:checked, /*Не работает*/
.user-navigation a:active,
.user-navigation a:checked { /*Не работает*/
	color: #000;
	border-radius: 50px;
    background-color: #d07058;
    text-decoration: none;
}


.user-button{
	border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);

}

.search {
 	width: 32px;
 	height: 32px;
 	text-align: center;
}
.search svg {
padding: 7.5px;
}

.shoping-bag-list {
	height: 32px;
	width: 117px;
}

.shoping-bag-list a {
	display: block;
    box-sizing: border-box;
    position: relative;
    padding: 8.5px 15px 8.5px 45px;
}
.login-link svg,
.shoping-bag svg {
	
	position: absolute;
	
	left: 15px;
    top: 7px;
}
.user-button:hover polygon,
.user-button:focus polygon,
.user-button:hover circle,
.user-button:focus circle,
.user-button:hover path,
.user-button:focus path{
	fill: #000;
}


.user-button:hover,
.user-button:focus {
    background-color: rgba(255, 255, 255, .74);
}

.login-link-list {
	height: 32px;
	width: 92px;
}
.login-link-list  a{
	display: block;
    box-sizing: border-box;
    position: relative;
    padding: 8.5px 15px 8.5px 45px;
}

.header-contacts{
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;

	margin-left: auto;
    padding: 0;
    text-align: right;
}

.header-contacts a{
	text-decoration: none;
	color: #fff;
	font-size: 22px;
}
/*													ПАРАМЕТРЫ */

.parametr {
	height: 242px;
	background: rgba(225, 245, 55, 0.4);
	box-shadow: 0 0 0 3px rgb(234, 45, 82);

}

/*													ХИТ ПРОДАЖ */
.best-product{
    margin: 0 27px;
}

.best-product-info p{
	font-size: 45px;
    line-height: 45px;
	font-weight: bold; 

	margin: 0;
    padding: 0;

    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.best-product-info span{
	 font-size: 35px;
    line-height: 45px;
	font-weight: bold;
}

.best-product-info a{
	display: inline-block;
	text-align: center;

	color: #fff;

	text-decoration: none;

	/*border-bottom: 1px solid rgba(255, 255, 255, .5); */	

	font-size: 16px;
    line-height: 22px;

    font-weight: 400;
}

.best-product-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
}



.best-product-list {
	list-style: none;

	width: 267px;
	min-height: 335px;
	
	margin-right: 26px;
	position: relative;
}	

.best-product-list:before {
	content: "";

	position: absolute;

	background-image: url(../images/hit.svg);
 	background-repeat: no-repeat;
 	background-position: center;

 	width: 62px;
 	height: 62px;
}

.best-product-list:nth-child(4n){
	margin-right: 0;
}

.best-product-list img {
	border-radius: 50%;
}

.best-product-info {
	position: absolute;

	top: 220px;
	bottom: auto;
}



/*															ФУТЕР*/

.footer{
	display: flex;
	justify-content: space-between;
}

.footer-social-item {

	display: flex;
	justify-content: space-between;

	padding: 0;
	margin-left: 28px;

	width: 179px;
	height: 40px;
}

.footer-social-list {
	list-style: none;

	width: 32px;
    height: 32px;
    border: 4px solid rgba(255, 255, 255, .5);
    border-radius: 50%;

    opacity: 30%;
}

.footer-social-list a{
	    opacity: .8;
}

.footer-social-list a:hover,
.footer-social-list a:focus{
	    opacity: 1;
}

.footer-social-document {
	max-width: 330px;
}

.footer-social-document-item a{
	text-decoration: none;

	font-size: 13px;
    line-height: 18px;

    border-bottom: 1px solid rgba(255, 255, 255, .5);

	color: #fff;
}

.footer-social-document-item.footer-social-document-item li{
	width: 164px;

	position: relative;
}

.footer-social-document-item li:nth-child(1){
	padding-left: 22px;
	width: 142px;
}
.footer-social-document-item li:nth-child(3){
	padding-left: 22px;
	width: 142px;
}

.footer-social-document-item li:nth-child(1):before{
	content: "";
	
	position: absolute;

	background-image: url(../images/hart.svg);
	background-repeat: no-repeat;
 	background-position: center;

	width: 15px;
	height: 15px;

	left: 0;
    top: 4px;
}

.footer-social-document-item {
	list-style: none;

	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-htmlacademy p{
	font-size: 12px;
    line-height: 18px;

	margin: 0;
   	padding: 60px 0 0 0 ;
}

.htmlacademy a{
	color: #fff;
}

.footer-htmlacademy {
	position: relative;

	width: 191px;
	height: 62px;

	margin-right: 28px;
}

.footer-htmlacademy p:before{
	content: "";

	position: absolute;

	background-image: url(../images/logo-htmlacademy-small.svg);
	background-repeat: no-repeat;

	width: 150px;
	height: 40px;

	top: 18px;	
}

							/*МОДАЛКА*/	
.modal-show {
	display: block;
}		


							/*Каталог*/
.catalog {
	position: relative;
}

.modal-catalog-list {
	position: absolute;	

	top: 45px;
    left: -7px;

    display: none;

	list-style: none;
	padding: 0;
	margin: 0;

	width: 150px;
	height: 171px;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}


.modal-catalog .modal-catalog-item a{
    margin: 0;
    color: #000;
    border: none;
}

.catalog-new a {
	padding: 10px 0 10px 21px;
	height: auto;
}

.catalog-new b {
	padding: 0;
}


.catalog-new:before {
	content: "";

	position: absolute;

	width: 130px;
	height: 2px;

	top: 36px;
    left: 10px;

	background-color: #00000014;
}

.catalog-alse a{
	padding: 7px 0 8px 21px;
    height: auto;
}

.modal-catalog-item a:hover { /*срезать углы рамки*/
    background-color: #fbded7;
    border-radius: 0;
}

.modal-catalog-item a:focus {
	background-color: #f6b5a5;
	border-radius: 0;
}


							/*ПОИСК*/
.shoping-search {
	position: relative;
}

.search-conteiner {
	position: absolute;	

	padding: 0;
	margin: 0;

	width: 341px;
	height: 84px;

	top: 45px;
	right: 0;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}

.input-search {
	width: 310px;
	height: 44px; 

	margin: 20px 16px;
	padding-left: 15px;

	border-radius: 10px;

	border: 1px solid #00000014;
}

							/*ЛИИЧНЫЙ КАБИНЕТ*/
.login-link-list {
	position: relative;
}

.action-privat {
	position: absolute;	

	padding: 0;
	margin: 0;

	top: 45px;
	right: 0;

	width: 278px;
	height: 214px;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}

.action-input {
	display: flex;
	flex-direction: column;

}

.action-input input {
	width: 227px;
	height: 44px;

	margin:20px 17px 0 19px;
	padding: 0 0 0 14px;

	border-radius: 10px;

	border: 1px solid #00000014;
}

.submit-functions {
	display: flex;
}

.apointment-submit {
	margin: 2px 20px 0 19px;
}

.action-registr a{
	color: #000;
	display: block;
	margin: 0;
	padding: 0;

	font-size: 13px;
    line-height: 24px;

	text-decoration: underline;
	text-underline-position: under;	
}

.action-registr a:hover,
.action-registr a:focus {
	color: #e84d37;
	background-color: transparent;  
	text-decoration: underline;
}
							/*КАРЗИНА*/

.shoping-bag-list {
	position: relative;
}

.shoping-bag-modal {
	position: absolute;	

	padding: 0;
	margin: 0;

	top: 45px;
	right: 0;

	width: 539px;
	height: 232px;

	background-color: #f8f7f4;

	box-shadow: 0 0 14px rgba(0,0,0,30);

	border-radius: 10px;
}

.shoping-modal-list {
	text-decoration: none;
}

.shoping-modal-list p {
	color: #000;
}

.shoping-bag-list fieldset{
	border: none;

	padding: 0;
	margin: 0;	
}

/* 

background: rgba(225, 245, 55, 0.4);
	box-shadow: 0 0 0 3px rgb(234, 45, 82);

	background: rgba(235, 225, 52, 0.2);
	box-shadow: 0 0 0 3px rgb(234, 45, 82);

*/
