
* {
	font-family: Arial;
}


html, body {
	margin: 0px ;
	padding: 0px ;
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;
}

#layout {
	width: 100%;
	height: 20%;
	background-color: #F5F5F5;	
	
}

.container {
	width: 1100px;
	margin: 20px auto;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

nav a {
	margin-right: 30px;
	text-decoration: none;
	color: black;

}

nav a:hover {
	color: #ff4e2e;
	border-bottom: 1px solid #ff4e2e;
	padding-bottom: 2px;

}

#top-phone {
	font-size: 22px;
	color: black;
	text-decoration: none;
}

#top-recall {
	padding: 10px 35px;
	color: #fc557c;
	border: 1px solid #ff4e2e;
	font-size: 14px;
	margin-left: 20px;
	background-color: #F5F5F5;
}

#top-phone-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.mid {
	background-color: #F5F5F5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.mid-text {
	margin-left: 15%

}

h1 {
	position: absolute;
    font-size: 60px;
    top: 50%;
 }

 h2 {
	padding: 20px;
	margin: 20px;
 	text-align: center;
 	font-size: 200%;
}

h3 {
	color:  #696969;
}

h4 {
	padding: 20px;
	margin: 20px;
 	text-align: center;
 	font-size: 300%;
}

p {
	color: gray;
}

.lern-more {
	margin: 15px 0;
	padding: 15px 30px;
    color: white;
    background: #ff4e2e;
    border: 1px solid #ff4e2e;
    outline: none;

}

.mid-picture {
	
}

										#section1 {
											background-color: white;
										}




}
.mid-div p {
	color: gray;

}

.mid-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 0 5%;
}

	
.lern-price {
	padding: 10px 30px;
    color: white;
    background: #ff4e2e;
    border: 1px solid #ff4e2e;
    outline: none;
    margin: 15px 44%;

   	
}

									#section2 {
										background-color: #F5F5F5;
									}


}
.Exemple p {
	color: #D3D3D3;

}

.mid-exemple {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 0 8%;
}

	
.buy {
	padding: 10px 30px;
    color: white;
    background: #ff4e2e;
    border: 1px solid #ff4e2e;
    outline: none;
    margin: 15px 44%;
  	}

								#section3 {
									background-color: #ff4e2e;
									width: 100%;
									height: 30%;
}

.red-div {
	width: auto;
	height: auto;

}

.down-text h2 {
    padding: 25px 250px;
    text-align: left;
    color: white;
}

h5 {
	padding: 0px 250px;
	color: white;
    text-align: left;
    margin: 0px 200px 200px 20px;
}
		
								#section4 {
								background-color: #F5F5F5;
								width: 70%;
								height: 30%;
								margin: 0 auto;
}

.container-down {
	    display: flex;
	    justify-content: space-between;
	
}

#alfa {
	    padding-top: 6%
	
}

.alfa a {
	text-decoration: none;
	color:  #808080;
	line-height: 2;
}


.down-phone-container{
	padding-top: 5%;
	line-height: 2.5;
	

}

.down-phone-container a {
	font-size: 22px;
	color: black;
	text-decoration: none;

	
}

.down-phone-container img {
	margin right: 5px;
	    
}

.coll-back {
	margin-top: 65px;
}

#coll-back {
		padding: 10px 35px;
	color: #fc557c;
	border: 1px solid #ff4e2e;
	font-size: 14px;
	background-color: #F5F5F5;

}

#down-picture {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 20px;

}

footer {
	background-color: #31293c;
	width: 100%;
	height: 10%;
}

#end {
color: white;

padding: 25px 40%;
}

























 








